.move-list-container {
    border: 2px black solid;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(217, 220, 223);
    min-height: 300px;
    max-width: 400px;
    .move-list-main-container {
        .move-list-main {
            .move-list-to {
                margin-top: 15px;
                margin-bottom: 10px;
            }
            .move-list-at {
                margin-top: 0;
                margin-bottom: 10px;
            }
            .move-list-amount {
                margin-top: 0;
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 800px) {
    .move-list-container {
        width: 70%;
        min-width: 250px;
        .move-list-main-container {
            .move-list-main {
                .move-list-at {
                    font-size: 16px;
                }
                .move-list-amount {
                    font-size: 16px;
                }
            }
        }
    }
}