<section class="details-container">
    <div class="details-btns">
        <img routerLink="/contact" class="details-back-btn details-btn" src="../../../assets/imgs/back.svg" alt="Back">
        <img (click)="onEdit()" class=" details-edit-btn details-btn" src="../../../assets/imgs/pencil.svg" alt="Edit">
    </div>
    <div *ngIf="currContact" class="details-main-profile">
        <img class="details-img" [src]="currContact.imgUrl" alt="Profile">
        <div class="details-all-details">
            <h3><span>Name:</span> {{currContact.name}}</h3>
            <h3><span>Email:</span> {{currContact.email}}</h3>
            <h3><span>Number Phone:</span> {{currContact.phone}}</h3>
        </div>
    </div>
    <transfer-fund [currContact]="currContact"></transfer-fund>
    <move-list [currContact]="currContact"></move-list>
</section>