.transfer-fund-container {
    border: 2px black solid;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(151, 204, 253);
    margin-bottom: 30px;
    .transfer-fund-title {
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 35px;
    }
    .transfer-fund-main {
        display: flex;
        align-items: flex-end;
        .transfer-amount {
            font-size: 30px;
            margin-bottom: 0;
        }
        .transfer-fund-input {
            border: unset;
            border-bottom: black 2px solid;
            height: 35px;
            font-size: 30px;
            width: 120px;
            background-color: rgb(151, 204, 253);
            text-align: center;
            overflow: visible;
            &:focus {
                outline: none;
            }
            &[type=number]::-webkit-inner-spin-button,
            &[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &::placeholder {
                font-size: 20px;
            }
        }
        .transfer-fund-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border: 2px black solid;
            border-radius: 10px;
            padding: 10px;
            height: 40px;
            font-size: 22px;
            font-weight: 700;
            transition: all .5s;
            &:hover {
                cursor: pointer;
                background-color: rgb(186, 234, 248);
            }
        }
    }
    .transfer-fund-main>* {
        margin-right: 15px;
    }
}

@media (max-width: 800px) {
    .transfer-fund-container {
        margin: 20px 5% 30px 0;
        width: 70%;
        .transfer-fund-title {
            font-size: 18px;
            font-weight: 700;
        }
        .transfer-fund-main {
            .transfer-amount {
                font-size: 16px;
            }
            .transfer-fund-input {
                font-size: 16px;
                height: 20px;
                margin-right: 7px;
                &::placeholder {
                    font-size: 14px;
                    margin: 0;
                }
            }
            .transfer-fund-btn {
                background-color: rgb(186, 234, 248);
                font-size: 15px;
                font-weight: 600;
                width: 26%;
                box-sizing: border-box;
                padding: 5px;
            }
        }
    }
}