.contact-preview-container {
    padding: 5px;
    background-color: rgb(252, 220, 220);
    margin: 10px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .contact-preview-img-profile {
        height: 65px;
        width: 65px;
        border-radius: 50%;
    }
    &:hover {
        cursor: pointer;
        background-color: rgb(250, 196, 196);
    }
    .contact-preview-edit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        &:hover {
            background-color: rgb(240, 92, 92);
            border-radius: 50%;
        }
    }
}